.layout-pane {
    @apply flex flex-col items-center justify-center
    w-full h-full;
    &.row { @apply flex-row; }
    & > * {
        @apply flex-none;
        &.fill {
            @apply flex-grow flex-shrink;
        }
    }
}